p{
    font-family: Consolas,monaco,monospace; 
    text-align: center;

}
body{
    background-image: url("../images/background.png");
}
h1{
    text-align: center;
}
.content{
    text-align: center;
}
#button:disabled{
    float:right;
    
}
 #time{
    float:left;
    font-family: Consolas,monaco,monospace; 
    font-size: 18px;
}
.content{
    width:960px;
    text-align:center;

}