p{
    font-family: Consolas,monaco,monospace; 
    text-align: center;

}
.questions{
    border:coral;
    border-style: solid;
    background:rgb(192, 184, 166);
    display:inline;
}
body{
    background-image: url("../images/background.png");
}
h1{
    text-align: center;
}
.content{
    text-align: center;
}

#button:disabled{
    float:right;
    
}
 #time{
    float:left;
    font-family: Consolas,monaco,monospace; 
    font-size: 18px;
}
.content{
    width:960px;
    text-align:center;

}